/**

Table of Contents

00 - Variables
01 - Layout
02 - Typography
03 - Buttons
04 - Helpers
05 - Navbar

**/

/* 00 - Variables */
:root {
  --dark-blue-400: hsl(217, 28%, 15%); /* Intro/Email */
  --dark-blue-500: hsl(218, 28%, 13%); /* Main bg */
  --dark-blue-600: hsl(216, 30%, 18%); /* Testimonials */
  --dark-blue-700: hsl(216, 53%, 9%); /* Footer */

  --cyan: hsl(176, 68%, 54%);
  --blue: hsl(198, 60%, 50%);

  --white: hsl(0, 0%, 100%);
  --font-family-body: 'Open Sans', sans-serif;
  --font-family-heading: 'Raleway', sans-serif;
  --font-size-body: 14px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

/* 01 - Layout */
* { box-sizing: border-box; }
body {
  background: var(--dark-blue-500);
  font-size: var(--font-size-body);
  height: 100vh;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.col {
  display: flex;
  flex-direction: column;
}
.flex-container.center-align-h {
  align-items: center;
}
.content-wrapper {
  align-items: stretch;
}
.full-width {
  width: 100%;
}
nav, section, footer {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
/* 01 - End Layout */
/* 02 - Typography */
html, body {
  color: var(--white);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-regular);
}
strong { font-weight: var(--font-weight-bold); }
h1, h2, h3, h4, h5, h6 { 
  font-family: var(--font-family-heading); 
  font-weight: var(--font-weight-bold);
}
.text-center {
  text-align: center;
}
.text-white {
  color: var(--white);
}
/* 02 - End Typography */
/* 03 - Buttons */
.btn {
  border-radius: 50%;
}
.btn-cyan {
  background-color: var(--cyan);
  color: white;
}
/* 03 - End Buttons */
/* 04 - Helpers */
.circle {
  border-radius: 50%;
}
/* 04 - End Helpers */
/* 05 - Navbar */
.navbar, .nav-items {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-item {
  padding-inline-start: 2.5em;
}
.logo > a > img {
  max-width: 20vw;
}
/* 05 - End Navbar */
/* 06 - Content */ 
.feature {
  text-align: center;
}
.testimonials {
  background-color: var(--dark-blue-600);
  padding-bottom: 150px;
}
.testimonial::before {
  content: '"';
}
.profile-card {
  display: flex;
}
.profile-card > .circle {
  width: 25px;
  height: 25px;
}
.sign-up {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up-form {
  border-radius: 20px;
  background-color: var(--dark-blue-400);
  display: flex;
  align-items: center;
  position: absolute;
  /* temp */ padding: 3em;
}
.sign-up-form > fieldset { 
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: var(--dark-blue-700);
  padding-top: 150px;
}
.footer-cell {
  display: flex;
  flex-direction: row;
}